
body {
    background-color: #1A237E;
}

/* user form */
#user-form {
    display: flex;
    justify-content: center;
    margin: 20px;
    /* border-radius: 0.25em; */
    padding: 10px 10px;
    background-color: #ffffff;
}

#user-info {
    background-color: #ffffff;
    display: none;
    border-radius: 0.25em;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: 75%; */
}

#user-info div {
    display: inline-block;
}

/* pixel-grid styles */

#pixel-grid {
    background-color: #ffffff;
    max-width: 700px;
    max-height: 700px;
    /* width: 100%; */
    /* margin: 20px auto; */
    border: 1px solid black;
}


/* row style */

.row {
    display: flex;
    flex-wrap: nowrap;

}

/* pixel style */

.pixel {
    width: 2%;
    padding-top: 2%;
    display: inline;
}




/* Edit form */

#edit-pixel-form {
    background-color: transparent;
    display: none;
    border-radius: 0.35em;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.colorPicker {
    
    font-size: 0.875em;
    text-align: center;
    display: inline-table;
    width: 100%;
    max-width: 40em;
    background: black;
    padding: 2px;
    border-radius: 0.35em;
    box-shadow: 0 0.5em 1.5em rgba(0, 0, 0, 0.15);
    
}

.colorPicker::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;

}

.colorPicker label {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.5);
    
    display: table-cell;
    cursor: pointer;
    vertical-align: middle;
    padding: 0.5em 1em;
    text-transform: capitalize;
    letter-spacing: -0.5em;
    color: transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
}

.colorPicker label.red {
    background-color: #ff3e05;
    -webkit-tap-highlight-color: #ff3e05;
}

.colorPicker label.orange {
    background-color: #ff8d05;
    -webkit-tap-highlight-color: #ff8d05;
}

.colorPicker label.yellow {
    background-color: #ecca05;
    -webkit-tap-highlight-color: #ecca05;
}

.colorPicker label.green {
    background-color: #40af04;
    -webkit-tap-highlight-color: #40af04;
}

.colorPicker label.blue {
    background-color: #057fff;
    -webkit-tap-highlight-color: #057fff;
}

.colorPicker label.indigo {
    background-color: #7500ca;
    -webkit-tap-highlight-color: #7500ca;
}

.colorPicker label.violet {
    background-color: #cc6fcc;
    -webkit-tap-highlight-color: #cc6fcc;
}

.colorPicker label.black {
    background-color: #000000;
    -webkit-tap-highlight-color: #000000;
}

.colorPicker label.white {
    background-color: #ffffff;
    -webkit-tap-highlight-color: #ffffff;
}

.colorPicker label.brown {
    background-color: #994d33;
    -webkit-tap-highlight-color: #994d33;
}

.colorPicker label.tan {
    background-color: #FFDAB9;
    -webkit-tap-highlight-color: #FFDAB9;
}

.colorPicker label:first-of-type {
    border-radius: 0.25em 0 0 0.25em;
}

.colorPicker label:last-of-type {
    border-radius: 0 0.25em 0.25em 0;
}




.colorPicker input {
    display: none;
}



/* Overall Layout  */


#user-container {
   width: 50%;
    margin: 20px auto;
}
#row-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    /* padding: 20px 5%; */
}
#chat-container {
   flex-basis: 30%;
    /* border-radius: 0.25em; */
    padding: 5px 10px;
    background-color: #ffffff;
    overflow-y: scroll;
}

#grid-container {
    /* flex-basis: 70%; */
    flex-basis: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.pixel-owner-container{
    padding: 0 5px;
    background: black;
    color: white;
    width: fit-content;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}

@media only screen and (max-width: 1100px) {
    #row-column {
        flex-direction: column-reverse;
        
        /* justify-content: center; */
        /* align-items: center; */
        /* padding: 20px 5%; */
    }

    #grid-container {
        flex-basis: 70%;
        margin-bottom: 20px;
    }

    #user-container {
        width: 80%;
    }

    #messages {
        min-height: 100px;
        overflow: auto;
    }

}


/* messages styles */

#message-form {
    display: flex;
    height: 5%;
}

#message-form input {
    height: fit-content;
    flex-grow: 2
}
#message-form button {
    height: fit-content;
}

#messages {
    min-height: 100px;
    max-height: 95%;
    width: 100%;
    overflow: auto;
}